/* reset??? */

body {
  line-height: 1;
}

header {
  
  /* alinhamento */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  
  /* cores */
  background-color: black;
  color: white;
}

nav ul {
  
  /* retira bolinha da lista*/
  list-style: none;
  
  display: flex;
  
  /* espaço entre itens*/
  gap: 32px;
}

/* cor mouse no link */
nav a:hover {
  color: purple;
}

.text {
  text-align: center;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
  padding: 30px 70px;
}

.character-info {
  line-height: 3px;
  text-align: center;
}

.character-card {
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

footer {
  text-align: center;
  padding: 24px 0;
  background-color: #1a1a2e;
}