/* reset??? */

body {
  line-height: 1;
}

header {
  
  /* alinhamento */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  
  /* cores */
  background-color: black;
  color: white;
}

nav ul {
  
  /* retira bolinha da lista*/
  list-style: none;
  
  display: flex;
  
  /* espaço entre itens*/
  gap: 32px;
}

/* cor mouse no link */
nav a:hover {
  color: purple;
}

.text{
  text-align: center;
}

.character-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 32px;
  padding: 48px 10px;
}

.character-info{
  padding: 16px;
  line-height: 3px;
}

.character-card{
  background-color: gainsboro;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 24px 0;
  background-color: #1a1a2e;
}